{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'center_dashboard' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>

            <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>Teacher</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'allocate_teacher' %}">
                      <i class="fa fa-plus-circle"></i>Assign Teacher Class</a>
              </li>
            </ul>
          </li>

            <!-- Administration Section Start -->

       <!-- User-Manual Section END -->
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>
